.check_title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 30px 0px 30px 0px;
    border-top: 1px #b1e0ef solid;
}

.check_table {
    width: 90%;
    border: 2px #ced3db solid;
    height: 300px;
    font-size: 20px;
    margin-left: 5%;
}
.check_tt {
    text-align: right;
    padding-right: 20px;
}

.check_table input {
    border: 2px #ced3db solid;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 70%;
}

.enter {
    width: 20%;
    margin-left: 40%;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    background: #7cc3db;
    color: #187898;
}
.check_content {
    text-align: center;
	    padding-bottom: 20px;
}
