.password_title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    border-top: 1px #b1e0ef solid;
}

.password_table {
    width: 90%;
    border: 2px #ced3db solid;
    height: 200px;
    font-size: 18px;
    margin-left: 5%;
}
.password_tt {
    text-align: right;
    width: 250px;
    padding-right: 20px;
}

.password_table input {
    border: 2px #ced3db solid;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 70%;
}

.enter {
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    background: #7cc3db;
    color: #187898;
}
.password_content {
    text-align: center;
        padding-bottom: 20px;
}
.order {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-bottom: 20px;
}
@media only screen and (max-width: 788px) {
.main {
    margin: 0px;
    width: 100%;
}
.password_tt {
    text-align: left;
    width: 40%;
}

}