.product_buy_img {
    float: left;
    width: 40%;
    max-width: 320px;
    position: relative;
}


.product_buy_content {
    width: calc(50% - 6px);
    float: left;
    padding-left: 10%;
    padding-top: 50px;
    font-size: 18px;
    font-weight: bold;
}

.product_introduce {
    position: relative;
}

.product_buy {
    position: relative;
    width: calc(100% - 50px);
    display: block;
    height: 350px;
    overflow: hidden;
    padding-left: 50px;
    padding-top: 20px;
}

.product_introduce {
    text-align: center;
}

.product_introduce_content {
    text-align: left;
    padding-left: 20%;
    padding-top: 20px;
}

.product_introduce_title {
    width: 100%;
    line-height: 40px;
    background: #b1e0ef;
}

img.product_introduce_img {
    margin-top: 30px;
    width: 75%;
}

table.product_comment_content {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 20px;
}




.star input:checked ~ label, .star label, .star label:hover, .star label:hover ~ label {
  background: url('../img/star.png') no-repeat;
}

.star {
  
  overflow: hidden;
  position: relative;
  float: left;
}

.star input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 43px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.star input:checked ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

.star label {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  
  position: relative;
  z-index: 1;
}

.star label:hover, .star label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}


.product_buy_title {
    font-size: 22px;
}

.product_buy_content ul {
    padding: 0px;
}

.buy {
    margin-left: 0px;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background: #f46270;
    border: none;
    color: white;
    font-size: 16px;
}
.product_buy_content li {
    margin-top: 10px;
}

.product_buy_content 
 input[type="number"] {
    margin-left: 10px;
    width: 15%;
}
.shop_img {
    position: absolute;
    height: 60px;
    margin-top: -50px;
    margin-left: calc(50% - 60px);
}
.product_buy_content li::before {
    content: "◎";
    color: red;
    }
.product_comment_title {
    width: 100%;
    line-height: 40px;
    background: #b1e0ef;
    text-align: center;
    margin-top: 50px;
}
.product_comment_get {
    vertical-align: top;
    height: 150px;
    border: 5px #b1e0ef solid;
}
.order {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-bottom: 20px;
}

img.product_introduce_img1 {
    margin-top: 30px;
    width: 100%;
}