body {
    margin: 0px;
    font-family: "微軟正黑體";
}

input {
    font-family: "微軟正黑體";
}

a {
    text-decoration: none;
}

a:link {
    color: #187898;
}

a:visited {
    color: #187898;
}

a:active {
    color: #187898;
}

.header {
    position: relative;
    margin-top: 30px;
    height: 170px;
    width: 100%;
    transition: all 0.3s ease;
}

.logo {
    position: relative;
    top: 10%;
    display: block;
    width: auto;
    height: 90px;
}

.logo_link {
    display: block;
    width: 262px;
    margin-left: calc(50% - 130px);
}

.menu {
    margin-top: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px #b1e0ef solid;
}

.menu li {
    display: inline-block;
    width: calc(95% / 5);
    height: 100%;
}

.login_button {
    position: absolute;
    color: white;
    right: 0px;
    top: 0px;
    width: 15%;
    height: 35px;
    overflow: hidden;
    background: #53a7c3;
    border-radius: 20px;
    box-shadow: #56a5bf 0px 2px 5px;
    cursor: pointer;
}

.login_icon {
    position: absolute;
    left: 10%;
    height: 80%;
    display: inline-block;
    top: 10%;
}

.login_content {
    position: absolute;
    display: block;
    width: 80%;
    left: 35%;
    height: 50%;
    padding-top: 4%;
    padding-bottom: 5%;
}

.menu ul {
    position: relative;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.linkto {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 40px;
    height: 50px;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: #187898;
    font-weight: bolder;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
}

.linkto:hover {
    color: #76326f;
}

.shopping_car {
    position: absolute;
    height: 60px;
    top: 35%;
    right: 30px;
}

.top {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-right: 0px solid #ffffff00;
    border-left: 100px solid #ffffff00;
    border-bottom: 100px solid #B1E0EF;
    color: white;
    display: inline-block;
}

.search {
    position: absolute;
    width: 20%;
    height: 20px;
    padding: 5px;
    bottom: 60px;
    border: 2px #b1e0ef solid;
    border-radius: 20px;
}

.search .search_img {
    position: absolute;
    right: 10px;
    height: 60%;
    top: 20%;
}

.search .search_content {
    width: calc(90% - 20px);
    height: 20px;
    font-size: 15px;
    border: none;
    background: #ff000000;
    position: absolute;
    top: 2.5px;
    left: 10px;
    color: #187898;
}

.search .search_content:focus {
    outline: none;
}

/*頁尾*/

img.top_img {
    position: absolute;
    margin-left: -40px;
    bottom: -90px;
    height: 30px;
    width: 30px;
    z-index: 5;
}

.footer {
    position: relative;
    background: #7bc3db;
    overflow: hidden;
    height: 150px;
    width: 100%;
    margin-top: 50px;
}

.footer_img {
    position: absolute;
    height: 80%;
    margin-top: 20px;
    margin-left: 30%;
}

.findus {
    position: absolute;
    left: 1%;
    margin-top: 45px;
    height: 60px;
    line-height: 20px;
}

img.footer_QRcode {
    position: absolute;
    height: 100px;
    right: 100px;
    margin-top: 25px;
}

.footer_menu {
    position: absolute;
    right: 200px;
    width: 20%;
    margin-top: 25px;
    height: 100px;
}

.findus_link {
    color: #1f7189;
    text-decoration: none;
}

.footer_link {
    position: relative;
    display: inline-block;
    width: calc(95%/2);
    line-height: 30px;
    color: #1f7189;
    text-decoration: none;
}

.footer_link:hover {
    text-decoration: underline;
}

.findus_link:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    bottom: 10px;
    position: absolute;
    width: 100%;
    color: #187898;
    font-size: 13px;
}

/*登入畫面*/

.login_window {
    position: fixed;
    right: 20%;
    top: 50px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 0.6s ease;
}

.login_bg {
    left: 0px;
    width: 30%;
    max-width: 250px;
    margin-top: 150px;
    margin-left: 60%;
    position: absolute;
    filter: brightness(0.6)contrast(3);
    z-index: -1;
}

.loginform input {
    display: block;
    margin-left: 25%;
    margin-top: 20px;
    width: 50%;
    line-height: 50px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    background: #ffffff82;
    font-size: 20px;
    color: #187898;
    font-family: "微軟正黑體";
}

.login_submit {
    width: 20%;
    margin-top: 25px;
    margin-left: 40%;
    text-align: center;
    background: #7cc3db;
    color: #187898;
    font-size: 30px;
    font-weight: bolder;
}

.signup {
    display: block;
    text-decoration: none;
    width: 16%;
    height: 50px;
    margin-left: 55%;
    margin-top: 35px;
    font-size: 20px;
    line-height: 50px;
    background: #DAF1F7;
    border-radius: 25px;
    color: #187898;
}

.login_close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #7cc3db;
    border-radius: 100px;
    color: white;
    cursor: pointer;
}

.loginform input::-webkit-input-placeholder {
    color: #187898;
}

/*註冊頁面*/

.jogin_window {
    position: fixed;
    padding-top: 40px;
    width: 720px;
    height: 550px;
    font-size: 30px;
    font-weight: bolder;
    color: #187898;
    background: #b1e0ef;
    border-radius: 100px;
    right: calc(50% - 360px);
    z-index: 6;
    text-align: center;
    top: calc(50% - 275px);
    transform: rotateY(90deg);
    transition: all 0.6s ease;
}

.jogin_close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #7cc3db;
    border-radius: 100px;
    color: white;
    cursor: pointer;
}

.joginform input {
    display: block;
    margin-left: 25%;
    margin-top: 20px;
    width: 50%;
    line-height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    background: #ffffff82;
    font-size: 20px;
    color: #187898;
    font-family: "微軟正黑體";
}

.jogin_submit {
    width: 20% !important;
    margin-top: 25px;
    padding: 0px !important;
    margin-left: 40% !important;
    text-align: center;
    background: #7cc3db;
    color: #187898;
    font-size: 30px;
    font-weight: bolder;
}

.joginform input::-webkit-input-placeholder {
    color: #187898;
}

/*RWD*/

@media only screen and (min-width: 1200px) {
    .body {
        position: relative;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 70%;
        height: 100%;
    }
}

@media only screen and (min-width: 789px)and (max-width:1200px) {
    .body {
        position: relative;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 88%;
        height: 100%;
    }
}

@media only screen and (max-width: 788px) {
    .body {
        position: relative;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        height: 100%;
    }
    .main {
        position: relative;
        top: 50px;
    }
    .menu {
        display: none;
    }
    .header {
		position:fixed;
		top:0px;
		z-index:5;
        height: 50px;
        margin-top: 0px;
        background: #7CC3DB;
    }
    .logo_link {
        height: 50px;
    }
    .logo {
        top: 0px;
        height: 50px;
        margin-left: 58.5px;
    }
    .logo_link {}
    .login_button {
        background: none;
        border: none;
        box-shadow: none;
        height: 30px;
        width: 30px;
        right: 30px;
        top: 10px;
    }
    .login_content {
        display: none;
    }
    .shopping_car {
        height: 30px;
        top: 10px;
        right: 60px;
    }
    img.hotimg {
        width: 130px;
    }
    .products_button_l {
        display: none;
    }
    .products_button_r {
        display: none;
    }
    .products_box {}
    .hot {
        height: auto;
    }
    img.newimg {
        width: 130px;
    }
    .one_product {
        width: calc(89%/2);
    }
    .new {
        height: auto;
    }
    a.footer_link {
        display: none;
    }
    .findus {
        font-size: 1em;
        line-height: 1em;
    }
    img.footer_QRcode {
        display: none;
    }
    a.signup {
    overflow: hidden;
}

.jogin_window {
    width: 100%;
    left: 0px;
}
}