
.product {
    width: 100%;
}
.money {
    color: #E8434C;
    text-align: center;
}

.product_content {
    text-align: center;
}
.one_product {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: calc((100% - 80px)/4);
}

.main_list {
    padding-left: 50px;
    padding-right: 50px;
    height: 940px;
}
.order {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-bottom: 20px;
}
.next {
    text-align: center;
    margin-bottom: -20px;
}


/*RWD*/
@media only screen and (max-width: 788px) {
.main {
    margin: 0px;
    width: 100%;
}

.one_product {
    width: calc((100% - 50px)/2);
}

.main_list {
    padding: 0px;
}

.next {
    margin-bottom: 20px;
}
.side_menu_hide {
    display: none;
}
}