
.product {
    width: 100%;
}

.one_product {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: calc((100% - 80px)/4);
}

.main_list {
    padding-left: 50px;
    padding-right: 50px;
    height: 940px;
}
.order {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-bottom: 20px;
}
.next {
    text-align: center;
    margin-bottom: -20px;
}


/*RWD*/